/* Global styles */
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #FCDEC0;
  height: 166px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu-button {
  font-size: 20px;
  cursor: pointer;
  margin-left: auto; /* Move the menu button to the right */
}

.logo {
  display: flex;
  justify-content: center;
  flex-grow: 2; /* Adjust the flex-grow value to control the logo position */
  margin-left: 180px; /* Add some left margin to move the logo to the right */
}

.logo img {
  max-width: 100%;
  height: auto;
  margi
}

.user-section {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropbtn {
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.wishlist-symbol,
.cart-symbol {
  font-size: 20px;
  margin-left: 10px; /* Add some spacing between the symbols */
}
/* Footer styles */
footer {
  background-color: #FFF5EA;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section {
  flex-grow: 1;
  margin: 0 20px;
}

.footer-section:first-child {
  text-align: left;
}

.footer-section:last-child {
  text-align: right;
}

.footer-section.middle {
  flex-grow: 2;
}

.footer-section.middle a {
  margin: 0 10px;
}

.footer-section.middle a:last-child {
  margin-right: 0;
}

.footer-section.middle a:after {
  content: "|";
  margin: 0 5px;
}

.footer-section.middle a:last-child:after {
  content: none;
}

.footer-section.right {
  text-align: right;
}

.footer-section.right::before {
  content: "© ";
}

/* Optional: Add your own additional styles as needed */
