.panel1 {
  height: 188px;
  width: 1263px;
  position: absolute;
  left: 120px;
  top: 170px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.panel1 .rating {
  position: absolute;
  top:140px;
  left: 225px;
  font-size: 24px;
  color: gold;
}
.panel1 .panel-heading {
  position: absolute;
  width: 349px;
  top: 9px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 24px; /* Adjust the font size as desired */
  color: #333333; /* Add color as desired */
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
.panel1 .order-link {
  position: absolute;
  top: 110px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 18px; /* Adjust the font size as desired */
  color: #D97642
  ;
  font-family: 'Quicksand', sans-serif;

}

.price {
  position: absolute;
  height: 32px;
  width: 63px;
  left: 711px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

}
.panel1 .status1 {
  position: absolute;
  width: 90px;
  left: 858px;
  top: 25px;
  border: 2px solid;
  border-radius: 24px;
  padding: 9px, 16px, 9px, 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: red;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
} 
.panel1 .status2 {
  position: absolute;
  height: 32px;
  width: 215px;
  left: 1049px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

} 

.panel2 {
  height: 188px;
  width: 1263px;
  position: absolute;
  top: 230px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.panel2 .rating {
  position: absolute;
  top:140px;
  left: 225px;
  font-size: 24px;
  color: gold;
}
.panel2 .panel-heading {
  position: absolute;
  width: 349px;
  top: 9px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 24px; /* Adjust the font size as desired */
  color: #333333; /* Add color as desired */
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
.panel2 .order-link {
  position: absolute;
  top: 110px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 18px; /* Adjust the font size as desired */
  color: #D97642
  ;
  font-family: 'Quicksand', sans-serif;

}

.price {
  position: absolute;
  height: 32px;
  width: 63px;
  left: 711px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

}
.status21 {
  position: absolute;
  width: 90px;
  left: 858px;
  top: 25px;
  border: 2px solid;
  border-radius: 24px;
  padding: 9px, 16px, 9px, 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: #0DA700;
  font-family: 'Quicksand', sans-serif;
 font-size: 12px;
} 
.status22 {
  position: absolute;
  height: 32px;
  width: 215px;
  left: 1049px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

} 



.panel3 {
  height: 188px;
  width: 1263px;
  position: absolute;
  top: 460px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.panel3 .rating {
  position: absolute;
  top:140px;
  left: 225px;
  font-size: 24px;
  color: gold;
}
.panel3 .panel-heading {
  position: absolute;
  width: 349px;
  top: 9px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 24px; /* Adjust the font size as desired */
  color: #333333; /* Add color as desired */
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
.panel3 .order-link {
  position: absolute;
  top: 110px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 18px; /* Adjust the font size as desired */
  color: #D97642
  ;
  font-family: 'Quicksand', sans-serif;

}

.price {
  position: absolute;
  height: 32px;
  width: 63px;
  left: 711px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

}
.status31 {
  position: absolute;
  width: 90px;
  left: 858px;
  top: 25px;
  border: 2px solid;
  border-radius: 24px;
  padding: 9px, 16px, 9px, 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: red;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
} 
.status32 {
  position: absolute;
  height: 32px;
  width: 215px;
  left: 1049px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

} 
.panel4 {
  height: 188px;
  width: 1263px;
  position: absolute;
  top: 230px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.panel4 .rating {
  position: absolute;
  top:140px;
  left: 225px;
  font-size: 24px;
  color: gold;
}
.panel4 .panel-heading {
  position: absolute;
  width: 349px;
  top: 9px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 24px; /* Adjust the font size as desired */
  color: #333333; /* Add color as desired */
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}
.panel4 .order-link {
  position: absolute;
  top: 110px; /* Adjust the top value to position the heading */
  left: 225px;
  font-size: 18px; /* Adjust the font size as desired */
  color: #D97642
  ;
  font-family: 'Quicksand', sans-serif;

}

.price {
  position: absolute;
  height: 32px;
  width: 63px;
  left: 711px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

}
.status41 {
  position: absolute;
  width: 90px;
  left: 858px;
  top: 25px;
  border: 2px solid;
  border-radius: 24px;
  padding: 9px, 16px, 9px, 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: #0DA700;
  font-family: 'Quicksand', sans-serif;
 font-size: 12px;
} 
.status42 {
  position: absolute;
  height: 32px;
  width: 215px;
  left: 1049px;
  top: 32px;
  font-family: 'Quicksand', sans-serif;

} 


